body {
  background-color: #303234;
}

h1 {
  text-align: center;
  color: #fff;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25), -5px -5px 4px rgba(0, 0, 0, 0.35);
  font-size: 50px;
  margin: 50px 0;
}

.container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp-box {
  width: 200px;
  height: 200px;
  background: #303234;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.4), -9px -9px 16px rgba(73, 73, 73, 0.4);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.temp-box p.time {
  color: #8e98a1;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25), -5px -5px 4px rgba(72, 83, 92, 0.35);
  font-size: 20px;
  margin-bottom: 6px;
}

.temp-box p.location {
  color: #03a9f1;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25), -3px -3px 2px rgba(72, 83, 92, 0.35);
  font-size: 16px;
  margin-bottom: 12px;
}

.temp-box .temp {
  color: #f18303;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25), -5px -5px 4px rgba(72, 83, 92, 0.35);
  font-size: 40px;
}
