body {
  background-color: #303234;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin: 50px 0;
}

.container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp-box {
  width: 145px;
  height: 145px;
  background: #303234;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.4), -9px -9px 16px rgba(73, 73, 73, 0.4);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.temp-box .temp {
  color: #f18303;
  font-size: 30px;
}
